In [1]:
#Get directory path
import os
print(os.getcwd( ))

C:\Users\Yrelav\Documents\Capstone_project

In [4]:
os.chdir('C:\\Users\\Yrelav\\Documents\\Capstone_project')
path = os.getcwd( )
path

'C:\\Users\\Yrelav\\Documents\\Capstone_project'

In [97]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Read in the data

In [14]:
# Read in csv of cleaned training data
raw_data = pd.read_csv('data/iris.data', header = None)
raw_data.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
raw_data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## Create data labels for target variable

In [16]:
# Creat a dictionary with keys (column values) and values (the numerical labels)
keys = raw_data['species'].unique()
values = [i for i in range(len(keys))]
y_dict = dict(zip(keys, values))
y_dict

{'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [18]:
# Let's make a mapping function!
def map_function (df, column_name, new_column_name):
    keys = df[column_name].unique()
    values = [i for i in range(len(keys))]
    y_dict = dict(zip(keys, values))
    df[new_column_name] = df[column_name].map(y_dict)
    return df

In [22]:
processed_df = map_function(raw_data, 'species', 'species_labels')
processed_df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_labels
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0

## Step 1: Split the data to create test and train sets

In [25]:
# Load the packages
from sklearn.model_selection import train_test_split

In [27]:
# Split the data into test and train sets at 30:70 percent splits
features = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
X = raw_data[features] # Features
y = raw_data['species'] # Target variable

In [29]:
print(X.shape)
print(y.shape)

(150, 4)
(150,)

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print('Shape of X_train:  ', X_train.shape)
print('Shape of X_test:  ', X_test.shape)
print('Shape of y_train:  ', y_train.shape)
print('Shape of y_test:  ', y_test.shape)

Shape of X_train:   (105, 4)
Shape of X_test:   (45, 4)
Shape of y_train:   (105,)
Shape of y_test:   (45,)

## Step 2: Train the classification algorithm on the train set

### Logistic Regression Classification

In [61]:
# import the packages
from sklearn.linear_model import LogisticRegression

# instantiate the model (using parameters for multiclass)
logreg = LogisticRegression(multi_class='ovr', solver='liblinear', random_state=42)

# fit the model with data
logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)

In [63]:
#Create dataframe to compare
data = {'y_test': y_test, 'y_pred': y_pred}
test_pred = pd.DataFrame(data)
test_pred.head()

              y_test           y_pred
73   Iris-versicolor  Iris-versicolor
18       Iris-setosa      Iris-setosa
118   Iris-virginica   Iris-virginica
78   Iris-versicolor  Iris-versicolor
76   Iris-versicolor  Iris-versicolor

In [65]:
# Find instances where the classificatio algorithm was incorrect
incorrect = test_pred[test_pred['y_test'] != test_pred['y_pred']]
print(incorrect.shape)
incorrect.head()

(1, 2)

             y_test          y_pred
85  Iris-versicolor  Iris-virginica

In [67]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

# Calculate scores
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred, average = 'macro')
precision = precision_score(y_test, y_pred, average = 'macro')
print(f"Accuracy Score: {accuracy}")
print(f"Recall score: {recall}")
print(f"Precision score: {precision}")

Accuracy Score: 0.9777777777777777
Recall score: 0.9743589743589745
Precision score: 0.9761904761904763

## Test Naive Bayes Classifier

In [70]:
# import the packages
from sklearn.naive_bayes import MultinomialNB

# instantiate the model (using the default parameters)
mnb = MultinomialNB()

# fit the model with data
mnb.fit(X_train, y_train)
y_predNB = mnb.predict(X_test)

In [72]:
#Create dataframe to compare
dataNB = {'y_test': y_test, 'y_predNB': y_predNB}
test_predNB = pd.DataFrame(dataNB)
test_predNB.head()

              y_test         y_predNB
73   Iris-versicolor  Iris-versicolor
18       Iris-setosa      Iris-setosa
118   Iris-virginica   Iris-virginica
78   Iris-versicolor  Iris-versicolor
76   Iris-versicolor  Iris-versicolor

In [76]:
# Find instances where y_pred was incorrect
incorrectNB = test_predNB[test_predNB['y_test'] != test_predNB['y_predNB']]
print(incorrectNB.shape)
incorrectNB.head()

(2, 2)

              y_test         y_predNB
68   Iris-versicolor   Iris-virginica
131   Iris-virginica  Iris-versicolor

In [78]:
# Calculate scores
accuracyNB = accuracy_score(y_test, y_predNB)
recallNB = recall_score(y_test, y_predNB, average = 'macro')
precisionNB = precision_score(y_test, y_predNB, average = 'macro')
print(f"Accuracy Score: {accuracyNB}")
print(f"Recall score: {recallNB}")
print(f"Precision score: {precisionNB}")

Accuracy Score: 0.9555555555555556
Recall score: 0.9487179487179488
Precision score: 0.9487179487179488

## Test Random Forest Classifier

In [91]:
# Import the package
from sklearn.ensemble import RandomForestClassifier

# instantiate the model
rnf = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state=42)

# fit the model with data
rnf.fit(X_train, y_train)
y_predRF = rnf.predict(X_test)

In [93]:
#Create dataframe to compare
dataRF = {'y_test': y_test, 'y_predRF': y_predRF}
test_predRF = pd.DataFrame(dataRF)
print(test_predRF.shape)
test_predRF.head()

(45, 2)

              y_test         y_predRF
73   Iris-versicolor  Iris-versicolor
18       Iris-setosa      Iris-setosa
118   Iris-virginica   Iris-virginica
78   Iris-versicolor  Iris-versicolor
76   Iris-versicolor  Iris-versicolor

In [95]:
# Find instances where y_pred was incorrect
incorrectRF = test_predRF[test_predRF['y_test'] != test_predRF['y_predRF']]
print(incorrectRF.shape)
incorrectRF.head()

(0, 2)

Empty DataFrame
Columns: [y_test, y_predRF]
Index: []

In [89]:
# Calculate scores
accuracyRF = accuracy_score(y_test, y_predRF)
recallRF = recall_score(y_test, y_predRF, average = 'macro')
precisionRF = precision_score(y_test, y_predRF, average = 'macro')
print(f"Accuracy Score: {accuracyRF}")
print(f"Recall score: {recallRF}")
print(f"Precision score: {precisionRF}")

Accuracy Score: 1.0
Recall score: 1.0
Precision score: 1.0